*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background: radial-gradient(circle at top, #200014, #000);
  overflow:hidden;
  height:100vh;
  font-family: monospace;
}

canvas{
  position:fixed;
  top:0;
  left:0;
}

.center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

pre{
  color:#ff4fd8;
  font-size:22px;
  text-align:center;
  text-shadow:0 0 15px #ff4fd8;
}
